html, body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, monospace;
  font-size: 1rem;      /*  police size set by nav/user(++malvoyant)*/
  font-weight: 200;     /*  largeur de la police  */
  line-height: 1.6;     /*  espacement des lignes conseillées par w3school    */
  letter-spacing: .1em; /*  augmentation de l'ecart entre les lettres de 10%  */
  position: relative;
  width: 100vw;
  height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
}

img {
	width: 90%;
	display: block;
	margin-left: auto;
  	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

form {
	margin: 15px 15px;
	padding: 5px 5px;
}

video {
	display: none;
}


/** Affichage des $_SESSION[flashs][danger|success] **/
#alert {
	display: block;
	position:relative;
	font-weight: 500;
	color: white;
	margin: 50px 0px;
}

.alert-danger {
	background-color: red;
	width: 100%;
	top: 2em;
	padding: 20px;
}
.alert-success {
	background-color: green;
	width: 100%;
	top: 2em;
	padding: 20px;
}

.hidden {
	display: none;
}

.icon {
	max-width: 3%;
}

body > header:nth-child(3) {
	z-index: 2;
}

/** Toggle span burger **/
.menuToggle {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 5;
}
/* Middle line of button */
.menuToggle span {
  height: 3px;
  width: 100%; /* = 30px */
  background-color: black;
  position: absolute;
  top: 20px;
  left: 0;
}
/* Highter line of button */
.menuToggle span:before {
  content: '';
  height: 3px;
  width: 100%; /* = 30px */
  background-color: black;
  position: absolute;
  top: -10px;
  left: 0;
}
/* Bottom line of button */
.menuToggle span:after {
  content: '';
  height: 3px;
  width: 100%; /* = 30px */
  background-color: black;
  position: absolute;
  top: 10px;
  left: 0;
}

/** Transform menuToggle active  **/
.menuToggle.active span{
	position: relative;
  background-color: transparent;
  display: flex;
  z-index: 1;
}
.menuToggle.active span:before {
  transform: translateY(10px) rotateZ(45deg);
  background-color: white;
  /* position: fixed; */
}
.menuToggle.active span:after {
  transform: translateY(-10px) rotateZ(-45deg);
  background-color: white;
}

/** Menu **/
.menu {
  height: 100%;
  width: 200px;
}
/** Puces **/
.menu ul {
  list-style-type: none;
  display: none;
}
.menu a {
  color: white;
  font-family: 'Helvetica Neue', monospace;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none; /** rm underline **/
  text-align: center;
  display: block;
  transition: all 0.3s ease-in-out;
  margin: 20px;

}
.menu a:hover{
  color: #e84393;
}
/** Navigation barre hidden **/
.nav {
  margin-left: -200px;
  transition-duration: 0.2s;
}
/** Display navigation barre **/
.nav.active {
  margin-left: 0;
  transition-duration: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #2d3436;
  top: 0;left: 0;
}
.nav.active ul {
	display: block;
}


/**  Gallery  **/

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 500px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    /* font: italic smaller sans-serif; */
    padding: 3px;
    text-align: center;
	display: none;
}

figcaption.active {
	display: block;
}

nav {
	display: inline-block;
	text-align: center;
}

.pagination {
	vertical-align: middle;
}

.page-item {
	list-style: none;
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.page-item.active {
	color: blueviolet;
}

.page-link {
	text-decoration: none;
}


#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

  /* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.9);
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

#commentaries {
	list-style-type: none;
	text-align: left;
	color: white;
}
#commentaries i {
	font-size: small;
    font-style: italic;
    font-weight: 400;
}


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}

  /* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

  /* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
} */






/*****  Photobooth *****/
.photobooth {
  position: relative;
	display: flex;
	flex-direction: row;
	width: 95%;
	height:100%;
	margin: 15px 15px;
}

.snap button {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: transparent;
}

.main {
  display: flex;
  width: 500px;
  flex-direction: column;
}
.photoBox {
	display:none;
}

#boxFilter {
	display: flex;
	flex-direction: row;
	background-color: powderblue;
	flex-wrap: nowrap;
	justify-content: space-between;
	overflow-y: scroll;
	padding: 5px;
}
.filter {
	margin: 3px;
	max-width: 9em;
	background-color:whitesmoke;
}

#photoBox {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	overflow: scroll;
	margin: 5px 5px;
}

#upload {
	margin: 50px;
}

/*****  Account *****/
.miniature {
	width: 200px;
	height: 150px;
	display: inline-block;
	margin: 5px;
	padding: 5px;
}

.remove {
	position: relative;
	top: 50px;
	right: -80px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.remove:hover,
.remove:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

footer {
  margin-top: auto;
  text-align: center;
}

/*   Media queries : faire apparitre disparaitre styles en fonction de la taille      */
/*    Big Screen      768px  */
@media screen and (min-width: 798px) {

	body > header:nth-child(3) {
		position: absolute;
	}
	.menuToggle span{
    	display: none;
  	}
	.menu ul {
		display: flex;
	}

	.menu {
		margin-left: 0;
		width: 100vw;
		height: 5vh;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.menu a {
		color: black;
	}

	.gallery {
		display: flex;
		flex-wrap: wrap;
	}

	.selfies {
		width: 500px;
		align-self: center;
		padding: 5px;
		margin: 10px;
	}

	.photoBox {
	    display: flex;
	    flex-direction: column;
	    background-color: whitesmoke;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    overflow-y: scroll;
	    height: 483px;
	    margin: 0px 15px;
	    padding: 5px 5px;
	    width: 500px;
	}

	.photoBox a {
		margin-bottom: auto;
		margin-top:auto;
	}
}


@media (max-width: 797px) {

	body {
		max-width: 100%;
		margin: 0;
		padding: 0;
	}
	img,
	textarea,
	input,
	canvas{
		width: 100%;
	}
	img {
		height: auto;
	}


}
